* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 1.25rem;
  }
  .container {
    padding: 1.5rem 10rem;
  }
  h1 {
    font-size: 3rem;
    margin: 1.25rem 0;
  }
  h2 {
    font-size: 2rem;
  }
  hr {
    margin: 3rem 0;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)); 
  }
  p {
    margin-bottom: 2rem;
    line-height: 1.75rem;
  }
  #twitter-share-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    color: #56b8f5;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #56b8f5;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    transition: color 0.2s, background-color 0.2s ease-in-out;
  }
  #twitter-share-btn:hover {
    color: #fff;
    background-color: #56b8f5;
  }
  #twitter-share-btn i {
    pointer-events: none;
  }
  .btnEntrance {
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  @keyframes btnEntrance { /* zoomIn */
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
      opacity: 1;
    }    
  }
  
  @media(max-width: 992px) {
    .container { padding: 1.25rem 6rem; }
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.75rem; }
  }
  @media(max-width:768px) {
    html { font-size: 12px; }
    .container { padding: 1rem 3rem; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    hr { margin: 1.5rem 0; }
  }